.add-technician {
    margin: 10px auto;
    padding: 20px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.technician-form {
    display: flex;
    flex-direction: column;
}

.technician-form-input {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    width: 450px;
}

.technician-form-create{
    width: 100px;
    height: 40px;
    background: rgb(51, 128, 205);
    color: white;
    margin-top: 10px;
}
