.appointment-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
  }

  .appointment-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
